/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

html, body {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Robotto Condensed', sans-serif;
}